 /*******
                GENERAL

        *********/
        body{
            width: 100%;
            height: 20%;           
        }
        a{
            color: #fff;
            text-decoration: none;            
        }
        nav{
            width: 20%;
            padding: 5% 0; 
        }
        main{
            width: 80%;
        }
        button{
            background-color: rgb(49, 216, 208);
            border: none;
            color: #fff;
            outline: none;
            margin-top: 5%;
            padding: 3% 10%;
            border-radius: 15px 0px;
            font-family: 'Roboto', sans-serif;
            /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        }
        span{
            margin: 0 5%;
        }
        section{
            border: 2px solid rgb(49, 216, 208);
            padding: 5%;
            width: 90%;
        }
        table{
            margin-top: 1.5%;
            font-size: 1.5em;
        }
        tr{
            margin: 5% 5%;
        }
        td{
         width: 25%;
        }
        footer{
            background-color: rgb(49, 216, 208) ;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            padding: 2% 0;
            width: 100%;
        }
        .socials img{
            width: 20px;
        }
         /*******
                MEDIA

        *********/
        @media (max-width: 450px){
            .avatar{
             width: 100%; 
             height: 100%;
            }
            .heading{
                font-size: 25px;
            }
            .sub-heading{
                font-size: 15px;
            }
            .detail-font, table{
                font-size: 1em;
            }
            nav{
                display:inline-flex;
                position: absolute;
                bottom: 15%;
                width: 95%;
                margin-right: 2%;
                padding: 3% 0;
                font-size: 0.5em;
            }
            .nav-bar{
                margin: 2%;
                height: 5vh;
                width: 10%;
                font-size: 1em;
            }
            .detail-font{
                font-size: 1em;
            }
            table{
                font-size: 1em;
            }
            main{
                padding-left: 15%;
                text-align: center;
                width: 100%;

            }
            #arrow{
            width: 30%;
            padding: 2%;
            }
            #left{
                display: none;
                position: relative;
                top: 50%;
                left: 0;
            }
            #bio-data p{
                font-family: sans-serif;
            }
            #experience img{
                display: none;
                top:5%;
            }
        }
        @media (max-width: 768px){
            #arrow{
            width: 10vw;
            }
            /* #education{
                height: 120%;
            } */
            img#left{
                position: absolute;
                top: 220%;
                left: 3%;
            }
            
            #experience img{
                top:-55%;
                left: 0;
            }
            /* .detail-font{
                font-size: 1em;
            } */
            table{
                font-size: 1em;
            }
        }

        /*******
                REUSABLE CLASSES

        *********/
        .margin-top{
            margin-top: 5%;
        }
        .align{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .heading{
            font-size: 2.5em;
            /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
            font-family: 'Roboto', sans-serif;
            font-weight: 800;
            margin: 0;
        }
        .sub-heading{
            font-size: 1.5em;
            /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
            font-family: 'Roboto', sans-serif;
            margin: 0;
        }
        .center{
            text-align: center;
            padding: 0 10%;
        }
        .detail-font{
            font-size: 1.5em;
        }
        .weight{
            font-weight: 550;
        }
        .font{
            /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
            font-family: 'Roboto', sans-serif;
        }
        .color{
            color: darkturquoise;
        }

        /*******
                SPECIFIC CLASSES & ID
        *********/
        .nav-bar{
            background-color: rgb(49, 216, 208);
            height: 10vh;
            margin-top: 15%;
            text-align: center;
           border-radius: 15px 0px;
           outline:none;
            width: 75%;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .main-container{
            display: inline-flex;
            height: 95vh;
            width: 100%;
            
        }
        .avatar{
            background-color:blue;
             border-radius:50% 50% 50% 0;
             width: 30%; 
             height: 30%;
             margin: auto;
        }
        #arrow{
            border-radius: 24px;
            background: #c9d0d4;
            box-shadow:  19px -19px 39px #abb1b4, 
             -19px 19px 39px #e7eff4;


            background-color: rgb(153, 149, 149);
            position: fixed;
            bottom: 2%;
            right: 2%;
            width: 5vw;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            outline:none;
            /* box-shadow */

        }
        .intro{       
            width: 60%;
            padding: 10%;
            text-align: center;
        }
        .socials{
            margin-top:5%;
        }
        #education{
            height: 60vh;
        }
        #right{
            position: relative;
             top: -270%;
            left: 50%;
            width: 50%;
        }
        #left{
            position: relative;
            bottom: 350px;
            left: -5%;
            width: 50%;
        }
        #experience{
            height: 60vh;
        }
        #experience h3{
            text-align: center;
        }
        #experience img{
            position: relative;
            bottom: 350px;
            left: 50%;
            width: 50%;
        }

        #skills .heading{
            padding: 0;
            margin: auto;
        }